<section>
    <div class="container" style="text-align: center;">
        Questions answered correctly: {{ correctAnswers }}
    </div>
</section>
<section>
    @if(questions$ | async; as questions) {
        <main class="container">
            @for(question of questions; let i = $index; track i) {
                <article>
                    <section>
                        <div style="text-align: center;" class="question">
                            <p>Question: {{ i + 1 }}</p>
                            <p>Type: <span [innerHtml] = "question.type | safeHtml"></span></p>
                            <p>Difficulty: <span [innerHtml] = "question.difficulty | safeHtml"></span></p>
                            <p>Category: <span [innerHtml] = "question.category | safeHtml"></span></p>
                            <p><span [innerHtml] = "question.question | safeHtml"></span></p>
                        </div> 
                    </section>  
                    @for(answer of question.answers; track answer) {
                        <section>
                            <div class="grid">
                                <button
                                (click)="checkCorrectAnswer(question, answer)" 
                                [style.background-color]="answer.color"
                                [class]="answer.class">
                                <span [innerHtml] = "answer.answer | safeHtml"></span>
                                </button>
                            </div>
                        </section>
                    }
                </article> 
            }   
        </main>
    } @else {
        <mat-spinner style="margin: auto;"></mat-spinner>
    }
</section>
<section>
    <div class="container">
        <div class="grid" style="text-align: center;">
            <button class="outline" [disabled]="newQuestionDisabled" (click)="newQuestions()">
                New Questions
            </button>
        </div>
    </div>
</section>    