.change-on-hover:hover {
    background-color: lightblue;
}

.text-center {
    text-align: center;
    justify-content: center;
    white-space: pre-line;
}

.slight-border {
    border: 1px solid black;
    border-radius: 12px;
}