<div *ngIf="!isLoading; else loading">
    <ng-container *ngFor="let question of questions">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile style="text-align: center;" colspan ="2">
                Type: {{ question.type }} <br>
                Difficulty: {{ question.difficulty }} <br>
                Question: {{ question.question }}
            </mat-grid-tile>
            <ng-container *ngFor="let answer of question.answers">
                <mat-grid-tile (click)="checkCorrectAnswer()" class="change-on-hover" colspan ="1">
                    {{ answer.answer }}
                 </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </ng-container>
</div>
<ng-template #loading>
    <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
<div style="text-align: center;">
    <button (click)="newQuestions()">New Questions</button>
</div>


