<app-header></app-header>
<div style="text-align: center;">
    Questions answered correctly: {{ correctAnswers }}
</div>
<div *ngIf="!isLoading; else loading">
    <ng-container *ngFor="let question of questions">
        <mat-grid-list cols="2" rowHeight="3:1">
            <ng-container>
                <mat-grid-tile class="slight-border text-center" colspan ="2" >
                    <div>
                        <!-- <p>Type: <span [innerHtml] = "question.type | safeHtml"></span></p>
                        <p>Difficulty: <span [innerHtml] = "question.difficulty | safeHtml"></span></p>
                        <p>Category: <span [innerHtml] = "question.category | safeHtml"></span></p> -->
                        <p><span [innerHtml] = "question.question | safeHtml"></span></p>
                    </div>
                </mat-grid-tile>
            </ng-container>
            <ng-container *ngFor="let answer of question.answers">
                <div>
                <mat-grid-tile class="slight-border text-center" 
                    (click)="checkCorrectAnswer(question, answer)" 
                    (mouseenter)="mouseEnter(answer)" 
                    (mouseleave)="mouseLeave(answer)" 
                    [style.background-color]="answer.color" 
                    colspan ="1">
                    <span [innerHtml] = "answer.answer | safeHtml"></span>
                 </mat-grid-tile>
                 </div>
            </ng-container>
        </mat-grid-list>
    </ng-container>
</div>
<ng-template #loading>
    <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
<div class="text-center">
    <button (click)="newQuestions()">New Questions</button>
</div>
<app-footer></app-footer>


