<section>
    <main class="container">
       <article>
            <section>
                @if(categories$ | async; as categories) {
                    <form [formGroup]="questionSearchForm" (ngSubmit)="search()">
                        <input type="text" formControlName="amount" placeholder="Number of questions">
                        @if(questionSearchForm.controls.amount.hasError('invalidNumber');) {
                            <div style="text-align: left;">
                                <section>
                                    <div>
                                        *Please enter a value between 1 and 50
                                    </div>
                                </section>
                            </div> 
                        }   
                        <select formControlName="category">
                            <option value="0" selected>Any Category</option>
                            @for(category of categories.trivia_categories; track category) {
                                <option [ngValue]="category.id">
                                    {{category.name}}
                                </option>
                        }   
                        </select>
                        <select formControlName="difficulty">
                            @for(difficulty of difficulties; track difficulty) {
                                <option [ngValue]="difficulty.value">
                                    {{difficulty.name}}
                                </option>
                            }
                        </select>
                        <select formControlName="type">
                            @for(type of types; track type) {
                                <option [ngValue]="type.value">
                                    {{type.name}}
                                </option>
                            }
                        </select>
                        <div class="container" style="text-align: center;">
                            <button class="outline" type="submit" [disabled]="!questionSearchForm.valid">Search</button>
                        </div>
                    </form>
            } @else {
                <mat-spinner style="margin: auto;"></mat-spinner>
            }
            </section>
       </article> 
    </main>
</section>
